@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-bg-color: rgb(197, 84, 67);
    --header-title-color: rgb(255, 255, 255);
    --side-panel-bg-color: rgb(250, 250, 250);
    --main-content-bg-color: rgb(254, 254, 254);
    --side-panel-items-color: rgb(110, 110, 110);
    font-family: 'Roboto', sans-serif;

}

.header {
    color: var(--header-title-color);
    height: 50px;
    background-color: var(--header-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-panel {
    width: 20vw;
    height: 100vh;
    background-color: var(--side-panel-bg-color);
}

.side-panel>ul {
    list-style: none;
    font-weight: 500;
    color: var(--side-panel-items-color);
}

/* #addProjectButton {
    font-size: 1rem;
    cursor: pointer;
    transition: all, .5sec;
    -moz-transition: all, .5sec;
}

#addProjectButton:hover {
    font-size: 4rem;
} */

#addProjectButton {
    font-size: 1em;
    cursor: pointer;
    transition: all .5s ease;
}

#addProjectButton:hover {
    font-size: 1.1em;
    color: rgb(49, 49, 49);

}

#addProjectButton:active {
    font-size: 1.1em;
    color: rgb(179, 179, 179);

}




.main-content {
    background-color: var(--main-content-bg-color);
}